body{
    font-family: 'Mansalva', cursive;
    background-color: black;
    color:white;
}

.card{
    margin: 2%;
}

label,
span{
    font-size: 1em!important;
    padding-bottom: 10px;
    /* color: black!important; */
}

span:after {
    background-color: #9fc440!important;
    border: 2px solid black!important;
}

.padding{
    padding: 20px;
}

.card,
.card-title{
    font-size:1.6em!important;
    bottom: 80%!important;
    border: none!important;

}

#header{
    padding: 0!important;
}

#burgerTitle{
    font-size: 3em!important;
    color:white;
}

.black-font{
    color: black!important;
}

.card-img{
    border: none!important;
}

.row{
    margin: 0px!important;
}

.addBurger{
    color:black!important;
    margin-right: 50px;
    margin-left: 50px;
    margin-top:50px;
}

label{
    font-size: 1em!important;
}

i,
.checkbox,
button{
    background-color: #9fc440!important;
    /* border-radius: 80px!important; */

}

.submit{
    background-color:#e9a45d!important;
}


.BurgerList{
    color:black!important;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:3%;
}

li{
    font-size: 1.2em;
    padding: 10px 20px 10px 20px;
}

