body{
    /* font-family: 'Oxanium', cursive; */
    /* font-family: 'Kulim Park', sans-serif; */
    font-family: 'Mansalva', cursive;
    background-color: black;
    color:white;
}

.card{
    margin: 2%;
    
}


.card,
.card-title{
    font-size:1.8em!important;
    bottom: 80%!important;
    border: none!important;
    /* padding:5px; */
    /* left:20%!important; */
}

.card-img{
    border: none!important;
}

.row{
    margin: 0px!important;

}

.addBurger{
    color:black!important;
    margin-right: 50px;
    margin-left: 50px;
    margin-top:50px;
}

label{
    font-size: 1em!important;
}

i,
.checkbox,
button{
    background-color: #9fc440!important;
    /* border-radius: 80px!important; */

}
.submit{
    background-color:#e9a45d!important;
}


.BurgerList{
    color:black!important;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:3%;


    
}

li{
    font-size: 1.2em;
    padding: 10px 20px 10px 20px;
}

